<%- include('header') -%>
<%- include('menu') -%>
<div class="home">
  <div class="banner">
    <div class="container">
      <div class="center-block text-center">
        <section class="slogan">
          <h1>Page Not Found</h1>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h6>
        </section>
      </div>
    </div>
  </div>

</div>
<%- include('footer') -%>
