* {
  font-family: 'Helvetica Neue'
}
 body {
  padding: 40px;
  background-color: #4CA0EB;
  position: relative;
  min-height: 100vh;
  background-image: url('/images/bg_bird.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;

}
.tweet-container {
  background: #fff;
  padding: 15px;
}
.footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  padding: 15px;
  right: 15px;
}
.tweet {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  &__icon {
    display: block;
    padding: 30px;
    border-radius: 35px;
    margin: 0 10px;
    background: #f1f1f1;

  }
  &__name {
    font-weight: 700;
    font-size: 14px;
  }

}

.margin-top-10 {
  margin-top: 10px;
}
